In [1]:
tup = 4, 5, 6

In [2]:
type(tup)

tuple

In [3]:
nested_tup = (4,5,6),(7,8)

In [4]:
nested_tup

((4, 5, 6), (7, 8))

In [5]:
type(nested_tup)

tuple

In [6]:
tuple([4,0,2])

(4, 0, 2)

In [7]:
tuple('string')

('s', 't', 'r', 'i', 'n', 'g')

In [8]:
tup = tuple('string')

In [9]:
tup[0]

's'

In [10]:
tup = tuple('foo',[1,2],True)

TypeError: tuple expected at most 1 argument, got 3

In [11]:
tup = tuple(['foo',[1,2],True])

In [12]:
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [13]:
tup[1]

[1, 2]

In [14]:
tup[1].append(3)

In [15]:
tup

('foo', [1, 2, 3], True)

In [16]:
id(tup)

2286147098624

In [17]:
id(tup[1])

2286163449664

In [18]:
tup[1].append(4)

In [19]:
id(tup[1])

2286163449664

In [21]:
a,b = 1,2

In [22]:
b,a = a,b

In [23]:
a

2

In [26]:
seq = [(1,2,3),(4,5,6),(7,8,9)]

In [27]:
for a,b,c in seq:
    print('a={0}, b={1}, c={2}'.format(a,b,c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [28]:
values = 1,2,3,4,5

In [29]:
a,b,*rest = values

In [30]:
rest

[3, 4, 5]

In [31]:
a,*b = values

In [32]:
b

[2, 3, 4, 5]

In [33]:
a = 1,2,2,2,2,3,4,2,

In [34]:
a.count(2)

5

In [39]:
a_list = [2,3,7,None]

In [40]:
a_list

[2, 3, 7, None]

In [41]:
tup = 'foo','bar','baz'

In [42]:
b_list = list(tup)

In [43]:
b_list

['foo', 'bar', 'baz']

In [44]:
b_list[1]

'bar'

In [45]:
gen = range(10)

In [46]:
gen

range(0, 10)

In [47]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [48]:
b_list.append('dwarf')

In [49]:
b_list.insert(1,'red')

In [50]:
b_list

['foo', 'red', 'bar', 'baz', 'dwarf']

In [51]:
b_list.pop(2)

'bar'

In [52]:
b_list

['foo', 'red', 'baz', 'dwarf']

In [53]:
b_list.append('foo')

In [54]:
b_list

['foo', 'red', 'baz', 'dwarf', 'foo']

In [59]:
b_list.remove('foo')

In [64]:
x = [4,None,'foo']

In [65]:
x.extend([7,8,(2,3)])

In [66]:
x

[4, None, 'foo', 7, 8, (2, 3)]

In [67]:
a = [7,2,5,1,3]

In [68]:
a.sort()

In [69]:
a

[1, 2, 3, 5, 7]

In [70]:
b = ['saw','small','He','foxes','six']

In [71]:
b.sort(key=len)

In [72]:
b

['He', 'saw', 'six', 'small', 'foxes']

In [73]:
import bisect

In [74]:
bisect.bisect?

In [75]:
c = [1,2,2,2,3,4,7]

In [76]:
bisect.bisect(c,2)

4

In [77]:
bisect.bisect(c,5)

6

In [78]:
bisect.insort(c,6)

In [79]:
c

[1, 2, 2, 2, 3, 4, 6, 7]

In [80]:
seq = [7,2,3,7,5,6,0,1]

In [81]:
seq[1:5]

[2, 3, 7, 5]

In [82]:
seq[3:4] = [6,3]

In [83]:
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [84]:
seq[-4:]

[5, 6, 0, 1]

In [85]:
seq[-6:-2]

[6, 3, 5, 6]

In [86]:
some_list=['foo','bar','bax']

In [87]:
mapping={}

In [88]:
for i,v in enumerate(some_list):
    mapping[v] = i

In [89]:
mapping

{'foo': 0, 'bar': 1, 'bax': 2}

In [90]:
seq1 = ['foo','bar','baz']

In [91]:
seq2 = ['one','two','three']

In [92]:
zipped = zip(seq1,seq2)

In [93]:
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [94]:
seq3 = [False,True]

In [95]:
list(zip((seq1,seq2,seq3)))

[(['foo', 'bar', 'baz'],), (['one', 'two', 'three'],), ([False, True],)]

In [96]:
seq1

['foo', 'bar', 'baz']

In [97]:
seq2

['one', 'two', 'three']

In [98]:
list(zip(seq1,seq2,seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [99]:
for i, (a,b) in enumerate(zip(seq1,seq2)):
    print('{0}: {1}, {2}'.format(i,a,b))

0: foo, one
1: bar, two
2: baz, three

In [100]:
pitchers = [('Nolan','Ryan'),('Roger','Clemens'),('Schilling','Curt')]

In [101]:
first_names, last_names = zip(*pitchers)

In [102]:
first_name

NameError: name 'first_name' is not defined

In [103]:
first_names

('Nolan', 'Roger', 'Schilling')

In [104]:
last_names

('Ryan', 'Clemens', 'Curt')

In [105]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [106]:
d1 = {'a':'some value', 'b':[1,2,3,4]}

In [107]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [108]:
d1[7] = 'an interger'

In [109]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an interger'}

In [110]:
d1[5] = 'some value'

In [111]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an interger', 5: 'some value'}

In [112]:
d1['dummy'] = 'another value'

In [113]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an interger',
 5: 'some value',
 'dummy': 'another value'}

In [114]:
del d1[5]

In [115]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an interger',
 'dummy': 'another value'}

In [116]:
ret = d1.pop('dummy')

In [117]:
ret

'another value'

In [118]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an interger'}

In [119]:
d1.key()

AttributeError: 'dict' object has no attribute 'key'

In [120]:
d1.keys()

dict_keys(['a', 'b', 7])

In [121]:
type(d1.keys())

dict_keys

In [122]:
list(d1.keys())

['a', 'b', 7]

In [123]:
by_letter = {}

In [125]:
words = ['apple','bat','bar','atom','bool']

In [126]:
for word in words :
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else :
        by_letter[letter].append(word)

In [127]:
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'bool']}

In [128]:
for word in words :
    letter = word[0]
    by_letter.setdefault(letter,[]).append(word)

In [129]:
by_letter

{'a': ['apple', 'atom', 'apple', 'atom'],
 'b': ['bat', 'bar', 'bool', 'bat', 'bar', 'bool']}

In [130]:
from collections import defaultdict

In [131]:
list

list

In [132]:
by_letter

{'a': ['apple', 'atom', 'apple', 'atom'],
 'b': ['bat', 'bar', 'bool', 'bat', 'bar', 'bool']}

In [133]:
by_letter = defaultdict(list)

In [135]:
for word in words :
    by_letter[word[0]].append(word)

In [136]:
by_letter

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'bool']})

In [137]:
list(by_letter)

['a', 'b']

In [138]:
dict(by_letter)

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'bool']}

In [139]:
hash('string')

7990051079870012422

In [140]:
hash((1,2,(2,3)))

-9209053662355515447

In [141]:
a = (1,2,[2,3])

In [142]:
type(a)

tuple

In [143]:
hash(a)

TypeError: unhashable type: 'list'

In [146]:
set([2,2,2,1,3,3])

{1, 2, 3}

In [147]:
list(set([2,2,2,1,3,3]))

[1, 2, 3]

In [148]:
{2,2,2,1,3,3}

{1, 2, 3}

In [149]:
a = {1,2,3,4,5}

In [150]:
b = {3,4,5,6,7,8}

In [151]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [152]:
a|b

{1, 2, 3, 4, 5, 6, 7, 8}

In [153]:
c = a.copy()

In [154]:
c |= b

In [155]:
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [156]:
d = a.copy()

In [157]:
d &= b

In [158]:
d

{3, 4, 5}

In [159]:
my_data = [1,2,3,4]

In [160]:
my_set = {tuple(my_data)}

In [161]:
my_set

{(1, 2, 3, 4)}

In [162]:
a_set = {1,2,3,4,5}

In [163]:
{1,2,3}.issubset(a_set)

True

In [164]:
a_set.issuperset({1,2,3})

True

In [165]:
{1,2,3} == {3,2,1}

True

In [166]:
string = ['a','as','bat','car','dove','python']

In [167]:
[x.upper() for x in string if len(x) >2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [168]:
unique_lengths = {len(x) for x in string}

In [169]:
unique_lengths

{1, 2, 3, 4, 6}

In [171]:
map?

In [172]:
map(len, string)

In [173]:
type(map(len,string))

map

In [174]:
loc_mapping = {val:index for index, val in enumerate(string)}

In [175]:
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [176]:
names_of_interest = []

In [178]:
all_data = [['John','Emily','Michael','Mary','Steven'],['Maria','Juan','Javier','Natalia','Pilar']]

In [179]:
for names in all_data:
    enough_es = [name for name in names if name.count('e') >=2]
    names_of_interest.extend(enough_es)

In [180]:
names_of_interest

['Steven']

In [181]:
result = [name for names in all_data for name in names if name.count('e')>=2]

In [182]:
result

['Steven']

In [183]:
some_tuples = [(1,2,3),(4,5,6),(7,8,9)]

In [184]:
flattened = [x for tup in some_tuples for x in tup]

In [185]:
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [186]:
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [187]:
def my_function(x,y,z=1.5):
    if z>1 :
        return z*(x+y)
    else :
        return z/(x+y)

In [188]:
my_function(5,6,z=0.7)

0.06363636363636363

In [189]:
def func():
    a = []
    for i in range(5):
        a.append(i)

In [194]:
a = []
def func():
    for i in range(5):
        a.append(i)

In [195]:
a

[]

In [196]:
def f():
    a = 5
    b = 6
    c = 7
    return a,b,c

In [197]:
f()

(5, 6, 7)

In [198]:
type(f())

tuple

In [199]:
return_value = f()

In [200]:
def f():
    a = 5
    b = 6
    c = 7
    return {'a':a, 'b':b, 'c':c}

In [201]:
f()

{'a': 5, 'b': 6, 'c': 7}

In [202]:
states = ['Alabama ','Georgia!','Georgia','georgia','FlOrIda','southcarolina##','West virginia?']

In [203]:
import re

In [204]:
def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]','',value)
        value = value.title()
        result.append(value)
    return result

In [205]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'Southcarolina',
 'West Virginia']

In [207]:
'wsfSDFwefsefW'.title()

'Wsfsdfwefsefw'

In [208]:
'   sdf  sd  '.strip()

'sdf  sd'

In [209]:
def remove_punctuation(value):
    return re.sub('[?!#]','',value)

In [211]:
clean_ops = [str.strip,remove_punctuation, str.title]

In [213]:
def clean_strings(strings, ops):
    result=[]
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result

In [214]:
clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'Southcarolina',
 'West Virginia']

In [215]:
for x in map(remove_punctuation, states):
    print(x)

Alabama
Georgia
Georgia
georgia
FlOrIda
southcarolina
West virginia

In [216]:
def short_function(x) :
    return x*2

In [217]:
short_function(3)

6

In [218]:
equiv_anon = lambda x:x*2

In [219]:
equiv_anon?

In [220]:
equiv_anon(3)

6

In [221]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

In [222]:
ints = [4,0,1,5,6]

In [223]:
apply_to_list(ints, lambda x:x*2)

[8, 0, 2, 10, 12]

In [224]:
[x*2 for x in ints]

[8, 0, 2, 10, 12]

In [225]:
strings = ['foo','card','bar','aaaa','abab']

In [226]:
strings.sort(key=lambda x : len(set(list(x))))

In [227]:
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

In [228]:
def add_numbers(a,b):
    return a+b

In [229]:
add_five = lambda y : add_numbers(5,y)

In [230]:
add_five(3)

8

In [231]:
from functools import partial

In [232]:
partial?

In [233]:
add_five = partial(add_numbers, 5)

In [235]:
some_dict={'a':1,'b':2,'c':3}

In [236]:
for key in some_dict:
    print(key)

a
b
c

In [237]:
dict_iterator = iter(some_dict)

In [238]:
dict_iterator

In [239]:
list(dict_iterator)

['a', 'b', 'c']

In [254]:
def squares(n=10):
    print('Generating squares from 1 to {0}'.format(n**2))
    for i in range(1,n+1):
        yield i ** 2

In [255]:
gen = squares()

In [256]:
gen

In [257]:
for x in gen :
    print(x, end = ' ')

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

In [258]:
gen = (x **2 for x in range(100))

In [259]:
gen

In [260]:
for x in gen:
    print(x, ' ')

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961
1024
1089
1156
1225
1296
1369
1444
1521
1600
1681
1764
1849
1936
2025
2116
2209
2304
2401
2500
2601
2704
2809
2916
3025
3136
3249
3364
3481
3600
3721
3844
3969
4096
4225
4356
4489
4624
4761
4900
5041
5184
5329
5476
5625
5776
5929
6084
6241
6400
6561
6724
6889
7056
7225
7396
7569
7744
7921
8100
8281
8464
8649
8836
9025
9216
9409
9604
9801

In [261]:
def _make_gen():
    for x in range(100):
        yield x ** 2
gen = _make_gen()

In [262]:
for x in gen:
    print(x, end=' ')

0 1 4 9 16 25 36 49 64 81 100 121 144 169 196 225 256 289 324 361 400 441 484 529 576 625 676 729 784 841 900 961 1024 1089 1156 1225 1296 1369 1444 1521 1600 1681 1764 1849 1936 2025 2116 2209 2304 2401 2500 2601 2704 2809 2916 3025 3136 3249 3364 3481 3600 3721 3844 3969 4096 4225 4356 4489 4624 4761 4900 5041 5184 5329 5476 5625 5776 5929 6084 6241 6400 6561 6724 6889 7056 7225 7396 7569 7744 7921 8100 8281 8464 8649 8836 9025 9216 9409 9604 9801

In [263]:
sum(x**2 for x in range(100))

328350

In [265]:
dict((i,i**2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [266]:
import itertools

In [268]:
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']

In [270]:
first_letter = lambda x : x[0]

In [271]:
for letter, names in itertools.groupby(names, first_letter):
    print(letter,list(names))

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

In [272]:
def attempt_float(x) :
    try:
        return float(x)
    except : 
        return x

In [273]:
attempt_float('1.2345')

1.2345

In [274]:
attempt_float('something')

'something'

In [275]:
float((1,2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [276]:
def attempt_float(x) :
    try:
        return float(x)
    except ValueError: 
        return x

In [277]:
attempt_float((1,2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [278]:
def attempt_float(x) :
    try:
        return float(x)
    except (ValueError,TypeError): 
        return x

In [279]:
attempt_float((1,2))

(1, 2)

In [280]:
path = 'examples/segismundo.txt'

In [281]:
f = open(path)

FileNotFoundError: [Errno 2] No such file or directory: 'examples/segismundo.txt'